{% extends "store_project_app/listar.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-7">
                <div class="card card-secondary">
                    <div class="card-header bg-primary">
                        <h3 class="card-title text-white">Detalle de productos</h3>
                    </div>
                    <div class="card-body">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" placeholder="Ingrese un producto">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-danger btn-flat"><i
                                        class="fas fa-times"></i></button>
                            </span>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-bordered" id="ventas" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Categoria</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5">
                <div class="card card-secondary">
                    <div class="card-header bg-primary">
                        <h3 class="card-title text-white">Datos de la Factura</h3>
                    </div>
                    <div class="card-body">
                        {{form|crispy}}


                    </div>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Agregar Producto</button>
        </div>

        {% endblock %}