{% extends "store_project_app/body.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Productos</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="productos" width="100%" cellspacing="0">
        <thead>
          {% block columns %}
          {% endblock %}
        </thead>
        <tbody>
          {% block rows %}
          {% endblock %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
