{% extends "store_project_app/listar.html" %}
{% load static %}

{% block head %}

<script src="{% static 'store_project_app/lib/js/lista_productos.js' %}"></script>

{% endblock %}


{% block columns %}

<tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Categoría</th>
    <th>Stock</th>
    <th>Precio</th>
    <th scope="cole" style="width: 9%;">Fecha de vencimiento</th>
    <th scope="cole" style="width: 10%;">N° de días para el vencimiento</th>
    <th>Acción</th>
</tr>
{% endblock %}

{% block rows %}

{% endblock %}








