{% extends "store_project_app/base.html" %}
{% load static %}
{% block body %}

<body id="page-top">

    <div id="wrapper">

        <ul class="navbar-nav bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <br>
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="{% static 'store_project_app/lib/img/aston.png' %}">
               
                </div>
            </a>
            <br>
            <br>
            <hr class="sidebar-divider my-0">
            {% if request.user.is_superuser %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'Estadisticas' %}">
                    <i class="fas fa-chart-pie"></i>
                    <span>Estadísticas</span></a>
            </li>
            {% endif %}

            <hr class="sidebar-divider">

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Ventas</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Venta' %}">Nueva Venta</a>
                        <a class="collapse-item" href="{% url 'ListaVenta' %}">Listado de ventas</a>
                        <a class="collapse-item" href="{% url 'ListaVentaAnulada' %}">Ventas Anuladas</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-boxes"></i>
                    <span>Productos</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'AgregarProducto' %}">Nuevo Producto</a>
                        <a class="collapse-item" href="{% url 'Productos' %}">Listado de Productos</a>
                    </div>
                </div>
            </li>
            
           <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Categorías</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'AgregarCategoria' %}">Nueva Categoria</a>
                        <a class="collapse-item" href="{% url 'Categoria' %}">Listado de Categorias</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseClientes"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-users"></i>
                    <span>Clientes</span>
                </a>
                <div id="collapseClientes" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="{% url 'Clientes' %}">Listado de Clientes</a>
                        <a class="collapse-item" href="{% url 'AgregarCliente' %}">Nuevo Cliente</a>
                    </div>
                </div>
            </li>

            
            <hr class="sidebar-divider d-none d-md-block">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">

                {% include 'header.html' %}

                <div class="container-fluid">

                    {% block content %}
                    {% endblock %}

                </div>
            </div>
        </div>
    </div>

    <a class="scroll-to-top rounded" href="#">
        <i class="fas fa-angle-up"></i>
    </a>


    
</body>

{% endblock %}