{% extends "store_project_app/body.html" %}
{% load static %}

{% block head %}

<script src="{% static 'store_project_app/lib/highcharts-8.1.2/highcharts.js' %}"></script>
<script src="{% static 'store_project_app/lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
<script src="{% static 'store_project_app/lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
<script src="{% static 'store_project_app/lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>

{% endblock %}

{% block content %}

{% if request.user.is_superuser %}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Estadísticas </h1>
</div>

<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Productos más vendidos</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div id="container-pie">

                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>

    var top_productos = Highcharts.chart('container-pie', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        accessibility: {
            point: {
                valueSuffix: '%'
            }
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },

    });

    function productos_mas_vendidos() {
        $.ajax({
            url: window.location.pathname,
            type: 'POST',
            data: {
                'action': 'productos_mas_vendidos'
            },
            dataType: 'json',
        }).done(function (data) {
            if (!data.hasOwnProperty('error')) {
                top_productos.addSeries(data);
                return false;
            }
            mensaje_error(data.error);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ':' + errorThrown);
            var err = new Error();
            console.log(err.stack);
        }).always(function (jqXHR, textStatus, errorThrown) {

        });

    }

    $(function () {
        productos_mas_vendidos();
    })
</script>


{% endblock %}