{% extends "store_project_app/body.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" id="categoria" role="dialog">
  <div class="modal-dialog modal-lg" role="content">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categoriaModalLabel">Agregar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="" method="POST" autocomplete="off">
        </form>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Agregar Producto">
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Listado de Categorias</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          {% block columns %}
          {% endblock %}
        </thead>
        <tbody>
          {% block rows %}
          {% endblock %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}