{% extends "store_project_app/base.html" %}
{% load crispy_forms_tags %}
      

{% block content %}


<div class="col-xs-12 col-md-3 align-self-center">
    <a class="btn btn-block btn-primary" id="reserve" data-html="true"  
    data-placement="bottom">Agregar producto</a>
</div>


<div id="reserveModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-tittle">Agregar un producto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                    {{form|crispy}}

                </form>
                    <div class="form-group row">
                        <div class="offset-md-5 col-md-10">
                            <button type="submit" class="btn btn-primary">Guardar producto</button>
                        </div>
                    </div>   
                </form>
            </div>
        </div>
    </div>
</div>

<hr>

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Larry</td>
                        <td>the Bird</td>
                        <td>@twitter</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



{% endblock %}
