{% extends "store_project_app/base.html" %}
{% load static %}

{% block body %}

<body>
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{% url 'Index' %}">El Portal</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="#header">Inicio</a></li>
          <li><a href="#about">¿Quiénes somos?</a></li>
          <li><a href="#contact">Contáctanos</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="{% url 'Login' %}" class="get-started-btn scrollto">Inciar Sesión</a>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-2 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center ">
          <h1>Cacharreria Y Papeleria El Portal</h1>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img">
          <img src="{% static 'home_page/img/hero.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>¿Quiénes somos?</h2>
            <p style="text-align: justify;">
              Somos una Empresa Tulueña, importadora y distribuidora de productos de Papelería, Cosméticos, Cacharrería
              y
              Navidad con más de 20 años de tradición, que satisface las necesidades de pymes y hogares del sur
              occidente del país. Nos caracterizamos por manejar los mejores precios del mercado y un gran portafolio de
              productos.
            </p>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 ">
            <ul>
              <h2>Misión</h2>
              <p style="text-align: justify;">
                Brindar de manera eficiente y eficaz la distribución de una amplia variedad de productos escolares,
                oficina y papelería de la mejor calidad a un precio justo. Para nosotros un trabajo bien realizado es la
                satisfacción total de nuestros clientes.
              </p>
              <h2>Visión</h2>
              <p style="text-align: justify;">
                Ser la distribuidora e importadora más completa y confiable del mercado a nivel nacional, priorizando
                siempre la solución inmediata a las necesidades de nuestros clientes con rapidez y honradez.
              </p>
            </ul>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4">
            <div class="box">
              <span>01</span>
              <h4>40 años de experiencia en el mercado</h4>
              <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>02</span>
              <h4>Productos 100% originales</h4>
              <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para
                dest</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box">
              <span>03</span>
              <h4>Eficiencia y eficacia</h4>
              <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->



    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contáctanos</h2>


        <div class="row">

          <div class="col-lg-12">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Nuestra Dirección</h3>
                  <p>Direccion</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Correo Electrónico</h3>
                  <p>info@ejemplo.com<br>contacto@ejemplo.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Llamanos</h3>
                  <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->
</body>
{% endblock %}>